yellow, .yellow {
  color: #fed356 !important;
}

red, .red {
  color:#ee110a !important;
}

blue, .blue {
  color: #6ab0f3 !important;
}

green, .green {
  color: #00ffaa !important;
}

pink, .pink {
  color: #d4619f !important;
}

violet, .violet {
  color:#7F00FF !important;
}

orange, .orange {
  color: #db5b2c !important;
}

beige, .beige {
  color: #F5F5DC !important;
}

olive, .olive {
  color: 	#808000 !important;
}

maroon, .maroon {
  color: #b85252 !important;
}
