{% extends 'layout.html' %}

{% block head %}
<title>Chat</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

{% endblock %}

{% block body %}
<div style=' padding: 10px; background:#ffc80038'>
    <div style='max-width: 500px; margin: 80px auto; color: #fff;'>
        <header style='text-align: center; padding: 20px; font-size: 20px; color: white;
    background: black; border-top-left-radius: 5px; border-top-right-radius: 5px;'>
            <h1>You are not alone!</h1>
        </header>
        <form method="POST" class='center' style='padding: 40px 40px; background: #fe9833e0; font-size: 20px;'>
            <label for="name">Name</label><br>
            <input id="name" name="name" required type="text" placeholder="Enter your name" style='width: 100%;'><br>
            <label for="room">Room</label><br>
            <select name="room" id="room" style='width: 100%;'>
                <option value="Movies">Movies</option>
                <option value="Gaming">Gaming</option>
                <option value="Books">Books</option>
                <option value="Healthcare">Healthcare</option>
                <option value="Fitness">Fitness</option>
                <option value="Casual">Casual</option>
            </select><br><br>
            <input id="submit" name="submit" type="submit" value="Enter Chatroom" class='btn btn-info'
                style='width: 100%; height: 40px; padding: 5px 15px; background: white; color: black; font-size: 20px;'>
        </form>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

{% endblock %}