{% extends 'layout.html' %}

{% block head %}
<title>Chat</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

{% endblock %}

{% block body %}
<form method="POST">
  <label for="name">Name</label>: <input id="name" name="name" required type="text" value=""> <br>
  <label for="room">Room</label>: <select name="room" id="room">
    <option value="Movies">Movies</option>
    <option value="Gaming">Gaming</option>
    <option value="Books">Books</option>
    <option value="Healthcare">Healthcare</option>
    <option value="Fitness">Fitness</option>
    <option value="Casual">Casual</option>
  </select> <br>
  <input id="submit" name="submit" type="submit" value="Enter Chatroom">
</form>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

{% endblock %}

<h1>WeCare-Chat</h1>