<script>
  // Here I will define the scripts for cookie management funcitons only
  // use 
  // cname
  // cemail
  // ckey (unique key used in firebase)

  function setCookie(cname, cvalue) {
    document.cookie = cname + "=" + cvalue + ";path=/";
  }

  function getCooke(cname) {
    var name = cname + "=";
    var decodedCookie = decodeURIComponent(document.cookie);
    var ca = decodedCookie.split(';');
    for (var i = 0; i < ca.length; i++) {
      var c = ca[i];
      while (c.charAt(0) == ' ') {
        c = c.substring(1);
      }
      if (c.indexOf(name) == 0) {
        return c.substring(name.length, c.length);
      }
    }
    return "";
  }

  function emailToKey(email) {
    var str = email.toString();
    return str.replace("@", "__").replace(".", "_")
  }

</script>