<footer class="page-footer font-small bg-light text-center pt-4">
  <div class="container text-center text-md-left">
    <div class="row text-center text-md-left mt-3 pb-3">
      <div class="col-lg-3 col-xl-3 mx-auto mt-3  center">
        <img src="/static/favicon.png" alt="wecare" width="200px">
      </div>

      <hr class="w-100 clearfix d-md-none">

      <div class="col-lg-2 col-xl-2 mx-auto mt-3">
        <p class="mw-100  center">
          <a class="a" href="/suggestions">Suggestions</a>
        </p>
        <p class="mw-100 center">
          <a class="a" href="./workout/landing.html">WORKOUT</a>
        </p>
        <p class="mw-100 center">
          <a class="a" href="http://cortynachat.herokuapp.com">LIVE CHAT</a>
        </p>
      </div>
      <!-- Grid column -->

      <hr class="w-100 clearfix d-md-none">

      <!-- Grid column -->
      <div class="col-lg-2 col-xl-2 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-semi-bold">Sponsors</h6>
        <p>
          <a href="#!">Become an Affiliate</a>
        </p>
        <p>
          <a href="#!">Shipping Rates</a>
        </p>
        <p>
          <a href="#!">Help</a>
        </p>
      </div>

      <!-- Grid column -->
      <hr class="w-100 clearfix d-md-none">

      <!-- Grid column -->
      <div class="col-lg-3 col-xl-3 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-semi-bold">Contact</h6>
        <p>
          <i class="fas fa-home mr-3" aria-hidden="true"></i>Jakarta, Indonesia</p>
        <!-- <p>
                  <a class="b" href="mailto:permitningbo@gmail.com"><i class="fas fa-envelope mr-3"></i>
                      permitningbo@gmail.com</a></p> -->
        <a class="a" target="_blank" href="mailto:cortyna@outlook.com?subject=Hi!"><i class="fas fa-envelope"
            aria-hidden="true"></i> &nbsp;&nbsp;&nbsp;cortyna@outlook.com<p></p></a>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Footer links -->

    <hr>

    <!-- Grid row -->
    <div class="row d-flex align-items-center">

      <!-- Grid column -->
      <div class="col-lg-8">

        <!--Copyright-->
        <p class="text-center text-md-left">© 2020 Copyright:
          <a href="https://mdbootstrap.com/education/bootstrap/">
            <strong>cortyna.com</strong>
          </a>
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-lg-4 ml-lg-0">

        <!-- Social buttons -->


      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

</footer>