<html>
    <head>
        <title>WeCare-Chat</title>
    </head>
    <body>
        <h1>WeCare-Chat</h1>
        <form method="POST">
            <label for="name">Name</label>: <input id="name" name="name" required type="text" value=""> <br>
            <label for="room">Room</label>: <select name="room" id="room">
                <option value="Movies">Movies</option>
                <option value="Gaming">Gaming</option>
                <option value="Books">Books</option>
                <option value="Healthcare">Healthcare</option>
                <option value="Fitness">Fitness</option>
                <option value="Casual">Casual</option>
              </select> <br>
              <input id="submit" name="submit" type="submit" value="Enter Chatroom">
        </form>
    </body>
</html>
