<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Medication Manager</title>
</head>
<body>
  <h1> Your personalised medication manager </h1>
  <h3>Give us your medication details and we will notify you about the timings, and also when your medicines run out</h1>
  <form>
    <label for="medicine">Medicine Name</label><br>
    <input type="text" id="medicine" name="medicine"><br>
    <label for="medicine">Stock Available</label><br>
    <input type="number" id="medicine" min="1" step = "1" name="medicine"><br>
    <label for="dosage">Select a time:</label>
    <input type="time" id="appt" name="appt">
  </form>
</body>
</html>