<style>
  .nav-link {
    font-weight: 800;
  }

  .nav-item {
    padding-left: 8px;
  }

  .navbar-brand {
    font-size: 24px;
  }
</style>
<nav id="top-nav" class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">
    We Care <img style="width: 44px;" src="/static/favicon.png"></img>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    </ul>
    <!-- Right menu -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link text-info" href="/chat">Chat</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-info" href="/suggestions">Find Suggestions</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-info" href="/time">Time Management<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-info" href="/yoga">Yoga<span class="sr-only">(current)</span></a>
      </li>

    </ul>
  </div>
</nav>