{% extends 'layout.html' %}

{% block head %}
<title>Time Management</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

{% endblock %}

{% block body %}

<div
  style="background: linear-gradient(transparent 60%,#081118),linear-gradient(114deg,#8679f9,#71ff97); background-size: 2000px 1500px; background-repeat: no-repeat;">
  <div class="container row" style="margin: auto; margin-top: 20vh;">
    <a href="/longgoals" class="col center"
      style="padding-block: 75px;border-radius: 25px; background-color: greenyellow; margin-right: 20px;text-align: center;">
      <h1>Long Term Goals</h1>
    </a>
    <a href="/shortgoals" class="col center"
      style="padding-block: 75px;border-radius: 25px; background-color: skyblue; margin-right: 20px;text-align: center;">
      <h1> Short Term Goals</h1>
    </a>
    <a href="/timetable" class="col center"
      style="padding-block: 75px; border-radius: 25px;background-color:pink;text-align: center;">
      <h1>Time Table</h1>
    </a>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

{% endblock %}