{% extends 'layout.html' %}

{% block head %}
<title>Time Management</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<link href="{{ url_for('static',filename='main.css') }}" rel="stylesheet">
<link href="{{ url_for('static',filename='timetable.css') }}" rel="stylesheet">
<style>
  #log-out-btn {
    margin-left: auto;
    margin-right: 8px;
  }
</style>
{% endblock %}

{% block body %}

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a href="#longgoals" class="nav-link active" data-toggle="tab">Long Term Goals</a>
  </li>
  <li class="nav-item">
    <a href="#shortgoals" class="nav-link" data-toggle="tab">Short Term Goals</a>
  </li>
  <li class="nav-item">
    <a href="#timetable" class="nav-link" data-toggle="tab">Time Table</a>
  </li>

  <a class="btn btn-danger" href="/time/logout" id="log-out-btn">Log out</a>
</ul>

{% include 'cookiemanage.html' %}

<!-- Adding scripts for firebase here -->
<script src="https://www.gstatic.com/firebasejs/7.21.1/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.21.1/firebase-firestore.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.21.1/firebase-auth.js"></script>


<script>
  var firebaseConfig = {
    apiKey: "AIzaSyDem2cJ3TdO1czSW4eWzI4fK2Mllju0CGU",
    authDomain: "wecare-3ff3b.firebaseapp.com",
    databaseURL: "https://wecare-3ff3b.firebaseio.com",
    projectId: "wecare-3ff3b",
    storageBucket: "wecare-3ff3b.appspot.com",
    messagingSenderId: "603037265503",
    appId: "1:603037265503:web:0db72780031b5e3278f5ea",
    measurementId: "G-C05VT0WBFR"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
</script>

{% if userKey %}
<!-- Logged in -->

<div class="tab-content">

  <div id="longgoals" class="tab-pane fade show active">
    <h3>Long Term</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
      dolore magna aliqua.</p>
    {% include 'longgoals.html' %}
  </div>

  <div id="shortgoals" class="tab-pane fade show">
    <h3>Short Term</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
      dolore magna aliqua.</p>
    {% include 'shortgoals.html' %}
  </div>

  <div id="timetable" class="tab-pane fade show">
    <h3>Time Table</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
      dolore magna aliqua.</p>
    {% include 'timetable.html' %}
  </div>
</div>


{% else %}
<!-- Not logged in -->

<h3>Log In</h3>

<script>

  signInToBackend = () => {
    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function () {
      if (this.readyState == 4 && this.status == 200) {
        console.log("Great", this.responseText)
        location.reload()
      }
    };
    xhttp.open("POST", "/time", true);
    xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
    xhttp.send("userKey=Priyam");

  }

</script>


{% endif %}


<!-- <div
  style="background: linear-gradient(transparent 60%,#081118),linear-gradient(114deg,#8679f9,#71ff97); background-size: 2000px 1500px; background-repeat: no-repeat;">
  <div class="container row" style="margin: auto; margin-top: 20vh;">
    <a href="/longgoals" class="col center"
      style="padding-block: 75px;border-radius: 25px; background-color: greenyellow; margin-right: 20px;text-align: center;">
      <h1>Long Term Goals</h1>
    </a>
    <a href="/shortgoals" class="col center"
      style="padding-block: 75px;border-radius: 25px; background-color: skyblue; margin-right: 20px;text-align: center;">
      <h1> Short Term Goals</h1>
    </a>
    <a href="/timetable" class="col center"
      style="padding-block: 75px; border-radius: 25px;background-color:pink;text-align: center;">
      <h1>Time Table</h1>
    </a>
  </div>
</div> -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

{% endblock %}